<html xmlns:th="http://www.thymeleaf.org">
	
	<body>
		
		<h1>Die Schülerliste</h1>
		<p>
			Diese Seite ist nur eine Dummy Seite um zu sehen ob die wirklichen Dinge funktionieren.
		</p>
		<div th:if="${!pupils.empty}">
		<table>
			<thead>
				<tr>
					<th th:text="${headerName}">X</th>
					<th th:text="${headerClass}">Y</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pupil: ${pupils}">
					<td><span th:text="${pupil.firstName}"> Name </span></td>
					<td><span th:text="${pupil.lastName}"> Klasse </span></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:if="${pupils.empty}">
			<p>No pupils registered.</p>
		</div>
		<h1>Add new Pupil</h1>
		<form action="#" th:action="@{/website/pupils}" th:object="${formPupil}" method="post">
			<p><input type="text" th:field="*{firstName}" name="firstName"/></p>
			<p><input type="text" th:field="*{lastName}" name="lastName"/></p>
			<p><input type="submit" value="Submit" /></p>
		</form>
	</body>
</html>