<html xmlns:th="http://www.thymeleaf.org">
	
	<body>
		
		<h1>Die Schülerliste</h1>
		<p>
			Diese Seite ist nur eine Dummy Seite um zu sehen ob die wirklichen Dinge funktionieren.
		</p>
		<div th:if="${!pupils.empty}">
		<table>
			<thead>
				<tr>
					<th th:text="${headerName}">X</th>
					<th th:text="${headerClass}">Y</th>
					<th>Notes for pupil</th>
					<th>Add note for Pupil</th>
					<th>Delete Pupil</th>
					<th>Show Details</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pupil: ${pupils}">
					<td><span th:text="${pupil.firstName}"> Name </span></td>
					<td><span th:text="${pupil.lastName}"> Klasse </span></td>
					<td>
						<table>
							<tr th:each="note: ${pupil.notes}">
								<td><span th:text="${note.content}"></span></td>
							</tr>
						</table>
					</td>
					<td><form action="#" th:action="@{/website/addNoteForPupil}" th:object="${formNote}" method="post" ><input hidden="hidden" type="text" th:value="${pupil.pupilId}" name="pupilId"/>
					<input type="text" th:field="*{content}"/><input type="submit" value="Submit"/></form></td>
					<td><form action="#" th:action="@{/website/deletePupil}" th:object="${formDelete}" method="post" ><input hidden="hidden" type="text" th:value="${pupil.pupilId}" name="pupilId"/>
					<input type="submit" value="Delete"/></form></td>
					<td><form action="#" th:action="@{/website/pupilsDetailPage}" th:object="${formDetailPage}" method="get" ><input hidden="hidden" type="text" th:value="${pupil.pupilId}" name="pupilId"/>
					<input type="submit" value="Show Details"/></form></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:if="${pupils.empty}">
			<p>No pupils registered.</p>
		</div>
		<h1>Add new Pupil</h1>
		<form action="#" th:action="@{/website/pupils}" th:object="${formPupil}" method="post">
			<p><input type="text" name="firstName"/></p>
			<p><input type="text" name="lastName"/></p>
			<p><input type="submit" value="Submit" /></p>
		</form>
	</body>
</html>